flows/AirQuality.json
{"flowContents":{"identifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","instanceIdentifier":"be05c458-0186-1000-52a0-b0ef11a2cb5a","name":"AirQuality","comments":"","position":{"x":2632.0,"y":1960.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bd9d4aa6-1583-38cd-9fa2-f90d0a6e4136","instanceIdentifier":"23a8aaeb-0187-1000-8201-d04061fb0b2e","name":"Set Content","comments":"","position":{"x":672.0,"y":3144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"content":"Alert PM10 Levels:\nFor: ${location} ${city} ${country} ${latitude}/${longitude}\nValue: ${value}\nAs of ${date}\nLast updated:  ${lastUpdated}\n\n51 to 100 is Moderate unhealthy (Mask up or stay inside)\n101 to 150 is Unhealthy for some\n151 to 200 is Unhealthy\n201 to 300 is Increased Health Risk\n301+ is a High Health Warning\n\nSee:  https://www.airnow.gov/aqi/aqi-basics/"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"content":{"name":"content","displayName":"content","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"52a069f7-89b1-3ff4-a110-2f702c591b58","instanceIdentifier":"b00bcbb1-e6e8-34b5-29cc-fec49600b4b2","name":"i++","comments":"","position":{"x":1016.0,"y":896.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"${i:plus(1)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e01dec4b-7f11-3e20-8e40-7c254ec2655b","instanceIdentifier":"dbfa31c8-32a0-1816-dfa6-49dc6cd74cff","name":"RetryFlowFile","comments":"","position":{"x":2424.0,"y":3128.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e6302020-c14e-371e-9a89-b833c358f78b","instanceIdentifier":"a4c9bdad-dc91-3b76-5aa9-1c551d7d5c22","name":"Initialize Count","comments":"","position":{"x":1720.0,"y":688.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"1","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","instanceIdentifier":"fa28c9d1-bca9-35d1-9f7d-4fe4e19a39c6","name":"Airquality OpenAQ","comments":"","position":{"x":1720.0,"y":1104.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"500 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"50MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"15 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.openaq.org/v2/latest?limit=1000&page=${i}&offset=0&sort=desc&radius=1000&country=US&order_by=lastUpdated&dumpRaw=false","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"1500 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-flank-tspann"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"cc57aadd-3b68-3331-8832-601bfdb35e5e","instanceIdentifier":"3bc9cc2f-28a0-384e-a784-3db50b34f255","name":"Build New JSON Record","comments":"","position":{"x":1696.0,"y":2304.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"city,country,date,filename,lastUpdated,latitude,location,longitude,parameter,unit,uuid,value","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"1997644f-c610-3f7d-a7d0-c6184a8482d2","instanceIdentifier":"dbfa31a9-32a0-1816-cb0e-c2f617e9d066","name":"SplitJson","comments":"","position":{"x":1712.0,"y":1896.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.measurements.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"87c291c5-68ce-3626-a45f-153ed28f093e","instanceIdentifier":"e0459e59-0186-1000-b67a-7628e753f890","name":"Spread Data","comments":"","position":{"x":1688.0,"y":2904.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","validData":"${fileSize:gt(0)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"validData":{"name":"validData","displayName":"validData","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"35921316-f2a1-3bb7-bfff-8395ab3197ee","instanceIdentifier":"23a7addb-0187-1000-7125-bf678500524e","name":"Build Discord Message","comments":"","position":{"x":672.0,"y":3344.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"content","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"9fe5f6fe-062b-37e1-a226-4b5e5f8e5918","instanceIdentifier":"e0459e5c-0186-1000-c5be-970a84b9a541","name":"Add Timestamp","comments":"","position":{"x":1712.0,"y":2504.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"record-writer":"4da04a97-ad6f-34cb-9c93-677c9fe5d536","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","replacement-value-strategy":"literal-value","/ts":"${now():toNumber()}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","instanceIdentifier":"57b15846-d511-3600-2f2a-e0224ccaecd7","name":"Filter ","comments":"","position":{"x":1696.0,"y":2712.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"filter":"SELECT * FROM FLOWFILE\nWHERE lower(\"parameter\") = 'pm10'\nAND \"value\" is not null\nAND CAST(\"value\" AS DOUBLE) > 10","all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"b8491220-c496-344f-ab6b-30b298e750ab","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"filter":{"name":"filter","displayName":"filter","identifiesControllerService":false,"sensitive":false},"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"74fb773e-e629-3d2a-b8bb-e24106622e8c","instanceIdentifier":"d49c536d-f9f4-3317-3ef7-5f5cde0015d5","name":"while: true","comments":"","position":{"x":1728.0,"y":904.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Routing Strategy":"Route to Property name","continue":"${i:lt(60)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"continue":{"name":"continue","displayName":"continue","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"f57868fc-c829-3cc4-a3cb-b3b946ba3ff0","instanceIdentifier":"e0459e5b-0186-1000-e84f-ed22b1c57ab8","name":"PublishKafkaRecord Cloudera Local","comments":"","position":{"x":1688.0,"y":3112.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"396965de-e1c1-320f-a4a3-37941d594544","bootstrap.servers":"kafka:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"68e6aee5-8890-3ddd-9194-0fffd709926d","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"openaq2","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"22fc0a81-055f-3922-b952-2c0eb471b0c0","instanceIdentifier":"682e63eb-a235-3ea4-b3a9-4f1a13828616","name":"SplitJson","comments":"","position":{"x":1720.0,"y":1480.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.results.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"ed143ee7-553e-381e-b59c-c1ee9385db76","instanceIdentifier":"dbfa31a7-32a0-1816-6401-de75394a3cce","name":"Extract Constants","comments":"","position":{"x":1704.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","country":"$.country","city":"$.city","Return Type":"json","latitude":"$.coordinates.latitude","Null Value Representation":"empty string","location":"$.location","Path Not Found Behavior":"ignore","longitude":"$.coordinates.longitude"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false},"city":{"name":"city","displayName":"city","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"latitude":{"name":"latitude","displayName":"latitude","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"location":{"name":"location","displayName":"location","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"longitude":{"name":"longitude","displayName":"longitude","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"f13d8235-8bdf-3c90-b3fc-bd478b476731","instanceIdentifier":"fa74c295-d82c-3634-0275-a9f41b780719","name":"Set Schema Name","comments":"","position":{"x":1728.0,"y":1296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"schema":"openaq","schemaname":"openaq","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"openaq","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"schemaname":{"name":"schemaname","displayName":"schemaname","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"404a0ea1-837f-3932-9a06-56ef06d74808","instanceIdentifier":"55af693c-6ccd-3521-6e79-8a4dc4a96b93","name":"Build Flat Record Airquality","comments":"","position":{"x":1704.0,"y":2096.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Destination":"flowfile-attribute","lastUpdated":"$.lastUpdated","unit":"$.unit","Return Type":"json","parameter":"$.parameter","Null Value Representation":"empty string","value":"$.value","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"lastUpdated":{"name":"lastUpdated","displayName":"lastUpdated","identifiesControllerService":false,"sensitive":false},"unit":{"name":"unit","displayName":"unit","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"parameter":{"name":"parameter","displayName":"parameter","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"value":{"name":"value","displayName":"value","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"05b7a859-2b27-3341-b2e9-5a23b6a504bc","instanceIdentifier":"aa601861-101c-1187-13ba-24ddc2494aa6","name":"init","comments":"","position":{"x":1720.0,"y":472.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"f9790e5c-5fbc-30bf-ac9e-da9cba964649","instanceIdentifier":"dbfa31c6-32a0-1816-47a8-99e1ebc510c6","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":2424.0,"y":2936.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.20.0"},"properties":{"compression.type":"none","attribute-name-regex":"filename","record-writer":"b8491220-c496-344f-ab6b-30b298e750ab","bootstrap.servers":"kafka:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${schema.name:append('raw')}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"34755c92-f8e6-37d6-ad10-d029cf55ad22","instanceIdentifier":"e0459e5a-0186-1000-6bbc-a1421e6e9f63","name":"RetryFlowFile","comments":"","position":{"x":1680.0,"y":3328.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"}],"inputPorts":[],"outputPorts":[{"identifier":"d4c07f86-2473-3761-bbc0-dcb707b19a3c","instanceIdentifier":"51dcf35f-c985-33f8-d1b1-635c477cd932","name":"Errors Out","comments":"","position":{"x":2488.0,"y":3360.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"5b0db5ea-1dfe-3f91-b28a-1278a0db4d1d","instanceIdentifier":"23a71ecc-0187-1000-d06a-0de44425d208","name":"AirQuality Warning","position":{"x":728.0,"y":3536.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"}],"connections":[{"identifier":"da768547-027f-35b4-a3f2-e1741ba4ce98","instanceIdentifier":"65988dbc-7fc9-345c-605c-ce4cb456fbe2","name":"","source":{"id":"cc57aadd-3b68-3331-8832-601bfdb35e5e","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build New JSON Record","comments":"","instanceIdentifier":"3bc9cc2f-28a0-384e-a784-3db50b34f255"},"destination":{"id":"9fe5f6fe-062b-37e1-a226-4b5e5f8e5918","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Add Timestamp","comments":"","instanceIdentifier":"e0459e5c-0186-1000-c5be-970a84b9a541"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"07638511-4b97-3c21-8e5f-defc6a08625c","instanceIdentifier":"e0459e60-0186-1000-b196-7813f438ac71","name":"","source":{"id":"34755c92-f8e6-37d6-ad10-d029cf55ad22","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"RetryFlowFile","comments":"","instanceIdentifier":"e0459e5a-0186-1000-6bbc-a1421e6e9f63"},"destination":{"id":"f57868fc-c829-3cc4-a3cb-b3b946ba3ff0","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"PublishKafkaRecord Cloudera Local","comments":"","instanceIdentifier":"e0459e5b-0186-1000-e84f-ed22b1c57ab8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1488.0,"y":3320.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"6676dee2-5172-3379-a6ca-07f28d458123","instanceIdentifier":"122b625a-afd7-3bd3-fd87-9caa865c8811","name":"","source":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Airquality OpenAQ","comments":"","instanceIdentifier":"fa28c9d1-bca9-35d1-9f7d-4fe4e19a39c6"},"destination":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Airquality OpenAQ","comments":"","instanceIdentifier":"fa28c9d1-bca9-35d1-9f7d-4fe4e19a39c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1521.009255384453,"y":1179.7292098999023},{"x":1517.6892480602341,"y":1298.9691970348358}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e207c114-a565-3a32-a4ca-175c13d18d29","instanceIdentifier":"dbfa31ca-32a0-1816-5715-09c00a3d5ea9","name":"","source":{"id":"e01dec4b-7f11-3e20-8e40-7c254ec2655b","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"RetryFlowFile","comments":"","instanceIdentifier":"dbfa31c8-32a0-1816-dfa6-49dc6cd74cff"},"destination":{"id":"d4c07f86-2473-3761-bbc0-dcb707b19a3c","type":"OUTPUT_PORT","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Errors Out","comments":"","instanceIdentifier":"51dcf35f-c985-33f8-d1b1-635c477cd932"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"4702bcfb-85de-3389-9b88-9cc6fa544297","instanceIdentifier":"dbfa31aa-32a0-1816-d795-0e64284ba70e","name":"","source":{"id":"ed143ee7-553e-381e-b59c-c1ee9385db76","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Extract Constants","comments":"","instanceIdentifier":"dbfa31a7-32a0-1816-6401-de75394a3cce"},"destination":{"id":"1997644f-c610-3f7d-a7d0-c6184a8482d2","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"SplitJson","comments":"","instanceIdentifier":"dbfa31a9-32a0-1816-cb0e-c2f617e9d066"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"6fc76dee-dffe-3e26-a875-9ef2491298af","instanceIdentifier":"dbfa31cb-32a0-1816-1655-2ef19d06470a","name":"","source":{"id":"e01dec4b-7f11-3e20-8e40-7c254ec2655b","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"RetryFlowFile","comments":"","instanceIdentifier":"dbfa31c8-32a0-1816-dfa6-49dc6cd74cff"},"destination":{"id":"f9790e5c-5fbc-30bf-ac9e-da9cba964649","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"dbfa31c6-32a0-1816-47a8-99e1ebc510c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2952.0,"y":3104.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"6ede31ff-4161-3403-a23a-5ad02b6116ea","instanceIdentifier":"7c874abf-368e-32e3-8da6-bb7bea2ac57a","name":"","source":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"while: true","comments":"","instanceIdentifier":"d49c536d-f9f4-3317-3ef7-5f5cde0015d5"},"destination":{"id":"41a71a4b-bfc9-3dde-b075-044c88d0301f","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"bcb05c73-fdaf-3111-6376-40c7b1169ab0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"9dbc5e37-c674-33d7-9db0-8fcebee494ec","instanceIdentifier":"23a95204-0187-1000-5ade-6d63389571e4","name":"","source":{"id":"87c291c5-68ce-3626-a45f-153ed28f093e","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Spread Data","comments":"","instanceIdentifier":"e0459e59-0186-1000-b67a-7628e753f890"},"destination":{"id":"bd9d4aa6-1583-38cd-9fa2-f90d0a6e4136","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Set Content","comments":"","instanceIdentifier":"23a8aaeb-0187-1000-8201-d04061fb0b2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["validData"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e9aad058-fa8b-3bcc-8442-277f07bb0196","instanceIdentifier":"c08730da-2df8-3cbb-a283-a8f8a5f9c37f","name":"","source":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Airquality OpenAQ","comments":"","instanceIdentifier":"fa28c9d1-bca9-35d1-9f7d-4fe4e19a39c6"},"destination":{"id":"ce9af5c2-8e11-3c85-8652-9a6a5ca9fd39","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"cf488fc5-06e8-3ca0-734e-cd0bb49db3c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"1b30dbd4-0717-394a-b6a8-d4f8cd5b131a","instanceIdentifier":"dbfa31b1-32a0-1816-25c0-b1aac9a064be","name":"","source":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Airquality OpenAQ","comments":"","instanceIdentifier":"fa28c9d1-bca9-35d1-9f7d-4fe4e19a39c6"},"destination":{"id":"f13d8235-8bdf-3c90-b3fc-bd478b476731","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Set Schema Name","comments":"","instanceIdentifier":"fa74c295-d82c-3634-0275-a9f41b780719"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"b9c6267b-ceca-33f5-9732-21d44d8c16db","instanceIdentifier":"e046e084-0186-1000-bc98-cae411ecfb21","name":"","source":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Filter ","comments":"","instanceIdentifier":"57b15846-d511-3600-2f2a-e0224ccaecd7"},"destination":{"id":"e34286fa-4451-3c13-8b80-c908724ef04f","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"e0459e58-0186-1000-2853-e625db9f2fbb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"a3d310c3-66ef-3909-9e45-ba37cc27090c","instanceIdentifier":"dbfa3183-32a0-1816-8dcc-0b91fdc63df3","name":"","source":{"id":"9fe5f6fe-062b-37e1-a226-4b5e5f8e5918","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Add Timestamp","comments":"","instanceIdentifier":"e0459e5c-0186-1000-c5be-970a84b9a541"},"destination":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Filter ","comments":"","instanceIdentifier":"57b15846-d511-3600-2f2a-e0224ccaecd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":9900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e88ea573-1f95-3879-bdb0-1ee5e16b9d39","instanceIdentifier":"dbfa31c9-32a0-1816-a2f5-7e94bed5bbb9","name":"","source":{"id":"f9790e5c-5fbc-30bf-ac9e-da9cba964649","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"dbfa31c6-32a0-1816-47a8-99e1ebc510c6"},"destination":{"id":"e01dec4b-7f11-3e20-8e40-7c254ec2655b","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"RetryFlowFile","comments":"","instanceIdentifier":"dbfa31c8-32a0-1816-dfa6-49dc6cd74cff"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"2ae600bd-9133-30df-9061-c85b9184a67c","instanceIdentifier":"e09f0d95-3693-3861-0d22-977ecfad2e5b","name":"","source":{"id":"f13d8235-8bdf-3c90-b3fc-bd478b476731","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Set Schema Name","comments":"","instanceIdentifier":"fa74c295-d82c-3634-0275-a9f41b780719"},"destination":{"id":"22fc0a81-055f-3922-b952-2c0eb471b0c0","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"SplitJson","comments":"","instanceIdentifier":"682e63eb-a235-3ea4-b3a9-4f1a13828616"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"c1498978-57e1-336f-a8b3-9c499a8c7fbc","instanceIdentifier":"23a8148c-0187-1000-0234-1f4c639d18ef","name":"","source":{"id":"35921316-f2a1-3bb7-bfff-8395ab3197ee","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build Discord Message","comments":"","instanceIdentifier":"23a7addb-0187-1000-7125-bf678500524e"},"destination":{"id":"5b0db5ea-1dfe-3f91-b28a-1278a0db4d1d","type":"OUTPUT_PORT","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"AirQuality Warning","instanceIdentifier":"23a71ecc-0187-1000-d06a-0de44425d208"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"ea8e7991-ad52-3147-9b14-cf72a92dec44","instanceIdentifier":"aa601862-101c-1187-556f-24548a6d8a2b","name":"","source":{"id":"05b7a859-2b27-3341-b2e9-5a23b6a504bc","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"init","comments":"","instanceIdentifier":"aa601861-101c-1187-13ba-24ddc2494aa6"},"destination":{"id":"e6302020-c14e-371e-9a89-b833c358f78b","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Initialize Count","comments":"","instanceIdentifier":"a4c9bdad-dc91-3b76-5aa9-1c551d7d5c22"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"59acfe59-f68d-3e31-8c0f-0a3a0d0255ec","instanceIdentifier":"e0459e5f-0186-1000-a2f5-16257861c84f","name":"","source":{"id":"f57868fc-c829-3cc4-a3cb-b3b946ba3ff0","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"PublishKafkaRecord Cloudera Local","comments":"","instanceIdentifier":"e0459e5b-0186-1000-e84f-ed22b1c57ab8"},"destination":{"id":"34755c92-f8e6-37d6-ad10-d029cf55ad22","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"RetryFlowFile","comments":"","instanceIdentifier":"e0459e5a-0186-1000-6bbc-a1421e6e9f63"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"f6fe6590-08d7-3918-aff2-c0e020a118b5","instanceIdentifier":"2023addf-163d-3ff5-04cf-80ea4a1b3eb6","name":"","source":{"id":"e6302020-c14e-371e-9a89-b833c358f78b","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Initialize Count","comments":"","instanceIdentifier":"a4c9bdad-dc91-3b76-5aa9-1c551d7d5c22"},"destination":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"while: true","comments":"","instanceIdentifier":"d49c536d-f9f4-3317-3ef7-5f5cde0015d5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"107279cd-0a30-30cb-9438-207a59275ea3","instanceIdentifier":"e0459e62-0186-1000-c326-4edbf37d7cd5","name":"","source":{"id":"9fe5f6fe-062b-37e1-a226-4b5e5f8e5918","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Add Timestamp","comments":"","instanceIdentifier":"e0459e5c-0186-1000-c5be-970a84b9a541"},"destination":{"id":"e34286fa-4451-3c13-8b80-c908724ef04f","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"e0459e58-0186-1000-2853-e625db9f2fbb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"0d10929c-d208-36f4-9197-cabdc46a5efa","instanceIdentifier":"dbfa3182-32a0-1816-f5eb-f2610c3abd9c","name":"","source":{"id":"87c291c5-68ce-3626-a45f-153ed28f093e","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Spread Data","comments":"","instanceIdentifier":"e0459e59-0186-1000-b67a-7628e753f890"},"destination":{"id":"f57868fc-c829-3cc4-a3cb-b3b946ba3ff0","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"PublishKafkaRecord Cloudera Local","comments":"","instanceIdentifier":"e0459e5b-0186-1000-e84f-ed22b1c57ab8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["validData"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"aab1dae2-d802-3dd2-ac71-ce93642a5277","instanceIdentifier":"83af482a-a227-3af4-7917-171fd90f566d","name":"","source":{"id":"404a0ea1-837f-3932-9a06-56ef06d74808","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build Flat Record Airquality","comments":"","instanceIdentifier":"55af693c-6ccd-3521-6e79-8a4dc4a96b93"},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"10aaed9b-d2af-365d-9b65-47e4b28e8fec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"01eab1a4-8496-3cae-9a41-5b48ceb1506d","instanceIdentifier":"d2a49402-e45e-3699-744c-57acdfcf56f5","name":"","source":{"id":"22fc0a81-055f-3922-b952-2c0eb471b0c0","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"SplitJson","comments":"","instanceIdentifier":"682e63eb-a235-3ea4-b3a9-4f1a13828616"},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"10aaed9b-d2af-365d-9b65-47e4b28e8fec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"1b99a789-bcaa-352b-a8a1-e33cd5107a2e","instanceIdentifier":"e0459e5d-0186-1000-a201-117c617ee667","name":"","source":{"id":"34755c92-f8e6-37d6-ad10-d029cf55ad22","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"RetryFlowFile","comments":"","instanceIdentifier":"e0459e5a-0186-1000-6bbc-a1421e6e9f63"},"destination":{"id":"d4c07f86-2473-3761-bbc0-dcb707b19a3c","type":"OUTPUT_PORT","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Errors Out","comments":"","instanceIdentifier":"51dcf35f-c985-33f8-d1b1-635c477cd932"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"8a77d232-e244-372a-ba46-3b4e509d353d","instanceIdentifier":"dbfa31ad-32a0-1816-51b2-a154d52bdcac","name":"","source":{"id":"1997644f-c610-3f7d-a7d0-c6184a8482d2","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"SplitJson","comments":"","instanceIdentifier":"dbfa31a9-32a0-1816-cb0e-c2f617e9d066"},"destination":{"id":"4098953a-a4f2-369b-b092-1bf260060d97","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"dbfa31ab-32a0-1816-44b8-c44689ada19a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"48334977-0fe5-38b4-9691-7bcdbb137e8f","instanceIdentifier":"e0475500-0186-1000-8cd7-cb4800c11b97","name":"","source":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Filter ","comments":"","instanceIdentifier":"57b15846-d511-3600-2f2a-e0224ccaecd7"},"destination":{"id":"f9790e5c-5fbc-30bf-ac9e-da9cba964649","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"dbfa31c6-32a0-1816-47a8-99e1ebc510c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":9900000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"c890e8f8-58a5-31cb-8567-8e125f49a044","instanceIdentifier":"e0467b2c-0186-1000-2535-5f49bfb3a650","name":"","source":{"id":"f16b2309-b0ca-3474-bb35-da2ca7e7d8c3","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Filter ","comments":"","instanceIdentifier":"57b15846-d511-3600-2f2a-e0224ccaecd7"},"destination":{"id":"87c291c5-68ce-3626-a45f-153ed28f093e","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Spread Data","comments":"","instanceIdentifier":"e0459e59-0186-1000-b67a-7628e753f890"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filter"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"06c4c50c-4402-30cd-aec1-b23d9a6040b4","instanceIdentifier":"ea70bc55-fa16-31cd-3993-cc2a00fb5d59","name":"","source":{"id":"52a069f7-89b1-3ff4-a110-2f702c591b58","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"i++","comments":"","instanceIdentifier":"b00bcbb1-e6e8-34b5-29cc-fec49600b4b2"},"destination":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"while: true","comments":"","instanceIdentifier":"d49c536d-f9f4-3317-3ef7-5f5cde0015d5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"4adc4591-0fb4-3779-a631-1f0d9f9bf97a","instanceIdentifier":"b3e22f89-dc01-37e6-327d-89d88e552a95","name":"","source":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"while: true","comments":"","instanceIdentifier":"d49c536d-f9f4-3317-3ef7-5f5cde0015d5"},"destination":{"id":"52a069f7-89b1-3ff4-a110-2f702c591b58","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"i++","comments":"","instanceIdentifier":"b00bcbb1-e6e8-34b5-29cc-fec49600b4b2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["continue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1519.0000390758591,"y":1098.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"20d2b1cf-9330-38e6-b249-3c97a954f592","instanceIdentifier":"5062dccf-94c6-3079-be61-893b4e6c401c","name":"","source":{"id":"74fb773e-e629-3d2a-b8bb-e24106622e8c","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"while: true","comments":"","instanceIdentifier":"d49c536d-f9f4-3317-3ef7-5f5cde0015d5"},"destination":{"id":"2f0dc3e1-ff1a-3b6a-ae98-5fec632fc235","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Airquality OpenAQ","comments":"","instanceIdentifier":"fa28c9d1-bca9-35d1-9f7d-4fe4e19a39c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["continue"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"0850b39c-b49d-3dec-9c32-9ea9ecfd199f","instanceIdentifier":"dbfa31ac-32a0-1816-25ee-71ab1144613b","name":"","source":{"id":"ed143ee7-553e-381e-b59c-c1ee9385db76","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Extract Constants","comments":"","instanceIdentifier":"dbfa31a7-32a0-1816-6401-de75394a3cce"},"destination":{"id":"4098953a-a4f2-369b-b092-1bf260060d97","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"dbfa31ab-32a0-1816-44b8-c44689ada19a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"72099da0-1394-388e-bf06-1e64a05a5d81","instanceIdentifier":"dbfa31ae-32a0-1816-170f-04bf3df5fafd","name":"","source":{"id":"1997644f-c610-3f7d-a7d0-c6184a8482d2","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"SplitJson","comments":"","instanceIdentifier":"dbfa31a9-32a0-1816-cb0e-c2f617e9d066"},"destination":{"id":"404a0ea1-837f-3932-9a06-56ef06d74808","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build Flat Record Airquality","comments":"","instanceIdentifier":"55af693c-6ccd-3521-6e79-8a4dc4a96b93"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"6537b9d0-276c-3bdb-912c-f8caee1dd03e","instanceIdentifier":"23a90a67-0187-1000-e566-c3f97fc6879c","name":"","source":{"id":"bd9d4aa6-1583-38cd-9fa2-f90d0a6e4136","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Set Content","comments":"","instanceIdentifier":"23a8aaeb-0187-1000-8201-d04061fb0b2e"},"destination":{"id":"35921316-f2a1-3bb7-bfff-8395ab3197ee","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build Discord Message","comments":"","instanceIdentifier":"23a7addb-0187-1000-7125-bf678500524e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"3a5eb4a9-3a26-367d-b613-0cf43a388b68","instanceIdentifier":"1649217e-1867-3105-a9a5-dd35be359f44","name":"","source":{"id":"cc57aadd-3b68-3331-8832-601bfdb35e5e","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build New JSON Record","comments":"","instanceIdentifier":"3bc9cc2f-28a0-384e-a784-3db50b34f255"},"destination":{"id":"412e7350-d04e-3c3b-be68-315fd27bd080","type":"FUNNEL","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Funnel","comments":"","instanceIdentifier":"10aaed9b-d2af-365d-9b65-47e4b28e8fec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e35de894-ee98-3bfb-97b7-c3eefddae14d","instanceIdentifier":"dbfa31b3-32a0-1816-9d86-7f816fc6209c","name":"","source":{"id":"404a0ea1-837f-3932-9a06-56ef06d74808","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build Flat Record Airquality","comments":"","instanceIdentifier":"55af693c-6ccd-3521-6e79-8a4dc4a96b93"},"destination":{"id":"cc57aadd-3b68-3331-8832-601bfdb35e5e","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Build New JSON Record","comments":"","instanceIdentifier":"3bc9cc2f-28a0-384e-a784-3db50b34f255"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"26389908-6001-3215-a632-dd046d4119bd","instanceIdentifier":"6b4263c1-238c-343e-3d4e-394b72c26984","name":"","source":{"id":"22fc0a81-055f-3922-b952-2c0eb471b0c0","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"SplitJson","comments":"","instanceIdentifier":"682e63eb-a235-3ea4-b3a9-4f1a13828616"},"destination":{"id":"ed143ee7-553e-381e-b59c-c1ee9385db76","type":"PROCESSOR","groupId":"c98094cb-8a57-3203-9016-bd8ccf5ca90c","name":"Extract Constants","comments":"","instanceIdentifier":"dbfa31a7-32a0-1816-6401-de75394a3cce"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"}],"labels":[{"identifier":"0e4d9d9f-9d61-3ecb-be0e-4d28bca4a1ce","instanceIdentifier":"599cf0ba-7087-344c-4cc0-513825b3d2df","position":{"x":2136.0,"y":688.0},"label":"\"meta\" : {\n    \"name\" : \"openaq-api\",\n    \"license\" : \"CC BY 4.0d\",\n    \"website\" : \"https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/\",\n    \"page\" : 1,\n    \"limit\" : 100,\n    \"found\" : 39184\n  },\n\nIn July 2023, you will need a key\n\nhttps://docs.openaq.org/reference/latest_get_v2_latest_get","zIndex":0,"width":544.0,"height":240.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"}],"funnels":[{"identifier":"4098953a-a4f2-369b-b092-1bf260060d97","instanceIdentifier":"dbfa31ab-32a0-1816-44b8-c44689ada19a","position":{"x":2352.0,"y":1968.0},"componentType":"FUNNEL","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"412e7350-d04e-3c3b-be68-315fd27bd080","instanceIdentifier":"10aaed9b-d2af-365d-9b65-47e4b28e8fec","position":{"x":1192.0,"y":2008.0},"componentType":"FUNNEL","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"ce9af5c2-8e11-3c85-8652-9a6a5ca9fd39","instanceIdentifier":"cf488fc5-06e8-3ca0-734e-cd0bb49db3c0","position":{"x":2744.0,"y":1136.0},"componentType":"FUNNEL","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"e34286fa-4451-3c13-8b80-c908724ef04f","instanceIdentifier":"e0459e58-0186-1000-2853-e625db9f2fbb","position":{"x":2480.0,"y":2800.0},"componentType":"FUNNEL","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"41a71a4b-bfc9-3dde-b075-044c88d0301f","instanceIdentifier":"bcb05c73-fdaf-3111-6376-40c7b1169ab0","position":{"x":2352.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"}],"controllerServices":[{"identifier":"b8491220-c496-344f-ab6b-30b298e750ab","instanceIdentifier":"dbfa3185-32a0-1816-0ff1-e982c7882649","name":"JsonRecordSetWriterSchema","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"af9fb898-f772-3373-ac83-f4ffb155c613","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"d43bcd49-5c4e-3681-8552-c3ed8c90a7cf","instanceIdentifier":"dbfa316d-32a0-1816-384a-1bd1f3bffcbe","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"2551d85b-2e60-390e-b83c-3ebf4e5ee0b0","instanceIdentifier":"1f25ab33-b186-31c1-3ee2-b55c1c44c40e","name":"LOCALREMOTEStandardPulsarClientService","comments":"","type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":null,"MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar://72.82.137.252:6650","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false},"AUTHENTICATION_SERVICE":{"name":"AUTHENTICATION_SERVICE","displayName":"Pulsar Client Authentication Service","identifiesControllerService":true,"sensitive":false},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"396965de-e1c1-320f-a4a3-37941d594544","instanceIdentifier":"56ce5739-0187-1000-1d35-9e9d8dc9dabe","name":"AvroRecordSetWriterSchema","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"hwx-content-encoded-schema","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"af9fb898-f772-3373-ac83-f4ffb155c613","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"68e6aee5-8890-3ddd-9194-0fffd709926d","instanceIdentifier":"e79f2169-2e79-354f-8236-e9a1b8924ebe","name":"CDP Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"be05c458-0186-1000-52a0-b0ef11a2cb5a"},{"identifier":"af9fb898-f772-3373-ac83-f4ffb155c613","instanceIdentifier":"dbfa3186-32a0-1816-d4bc-89007bd989f4","name":"ClouderaSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0"},"properties":{"cache-expiration":"1 minute","kerberos-credentials-service":null,"ssl-context-service":null,"cache-size":"1000","kerberos-principal":null,"basic-auth-username":null,"url":"http://localhost:7788/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"be05c458-0186-1000-52a0-b0ef11a2cb5a"},{"identifier":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","instanceIdentifier":"9323d92a-e1bd-3f9f-373e-503544caac6c","name":"Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"363108d8-0d30-3961-a529-4df63880f675","instanceIdentifier":"232d3f4e-21b2-3ccc-836b-0c7281baaeec","name":"LocalRemotePulsar","comments":"","type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":null,"MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar://72.82.137.252:6650","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false},"AUTHENTICATION_SERVICE":{"name":"AUTHENTICATION_SERVICE","displayName":"Pulsar Client Authentication Service","identifiesControllerService":true,"sensitive":false},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"d5fb553c-888e-3d6a-a6ff-9377cff071b2","instanceIdentifier":"7d376ee7-bc75-3fc3-bde1-f4b22517f0cc","name":"StreamNative Cloud Pulsar Demo ","comments":"","type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":"add81117-b5fb-3067-959f-6551202c6450","MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar+ssl://sn-academy.sndevadvocate.snio.cloud:6651","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"},{"identifier":"4da04a97-ad6f-34cb-9c93-677c9fe5d536","instanceIdentifier":"e8bf6de3-e048-3cd5-8142-d68c85da2605","name":"Standard Inherit JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c98094cb-8a57-3203-9016-bd8ccf5ca90c"}],"variables":{},"parameterContextName":"airqualityparameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":1000000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"airqualityparameters":{"name":"airqualityparameters","parameters":[{"name":"all","description":"","sensitive":false,"provided":false,"value":"SELECT CAST(ZIPCODE as VARCHAR)  as ZIPCODE \nFROM FLOWFILE\nWHERE CAST(ZIPCODE as BIGINT) > 01000 "},{"name":"api_key","description":"","sensitive":false,"provided":false,"value":"CD2AD326-8CDE-4FD0-B715-3C64CE1FD505"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
